Repository lewisbirks/actions-test, changes with the labels that .github/labeler.yml gives for each.
All labels: ccd-config, docmosis

test docmosis
  docker/docmosis/templates/.gitkeep
  docker/docmosis/templates/test.txt
Labels: docmosis

test ccd-config
  ccd-config/some-dir/text2.txt
  ccd-config/test.txt
Labels: ccd-config

update labels
  .github/workflows/label.yml
Labels: none

reset ccd-config
  ccd-config/.gitkeep
  ccd-config/some-dir/text2.txt
  ccd-config/test.txt
Labels: ccd-config

update
  .github/workflows/label.yml
Labels: none

Revert "update"
  .github/workflows/label.yml
Labels: none

.github/labeler.yml:

ccd-config:
  ccd-config/**/*

docmosis:
  docker/docmosis/templates/*
